<div class="row mt-3 mb-3">
    <div class="col-12">
        <div class="custom-control custom-switch mb-3">
            <input type="checkbox" class="custom-control-input" id="customSwitches" data-toggle="collapse" data-target="#ejemplo">
            <label class="custom-control-label" for="customSwitches">Opciones de Busqueda</label>
        </div>
    </div>
    <div class="col-12">
        <div class="collapse" id="ejemplo">
            <div class="row">
                <div class="col-12 col-md-3">
                    <label for="descripcionB">Descripcion</label>
                    <input class="form-control" type="text" name="descripcionB" placeholder="Descripción">
                </div>
                <div class="col-12 col-md-3">
                    <label for="fechaAltaB">Fecha Alta</label>
                    <input class="form-control" type="date" name="fechaAltaB">
                </div>
                <div class="col-12 col-md-3">
                    <label for="fechaModificacionB">Fecha Modificacion</label>
                    <input class="form-control" type="date" name="fechaModificacionB">
                </div>
                <div class="col-12 col-md-2">
                    <label for="estatusB">Estatus</label>
                    <select name="estatusB" class="form-control">
                        <option value="1" selected>Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
                <div class="col-12 col-md-1 align-self-end mt-2 mt-md-0">
                    <button class="btn btn-primary btn-block"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
