<!-- Boton para imprimir -->

<div class="row mt-3 mb-3">
    <div class="offset-0 offset-sm-8 offset-md-11"></div>
    <div class="col-12 col-sm-4 col-md-1">
        <button class="btn btn-dark btn-block" onclick="window.print()"><i class="fas fa-print"></i></button>
    </div>
</div>

<!-- Formulario para agregar catalogos -->

<app-form-seccion ></app-form-seccion>

<hr class="mt-4 mb-4">

<!-- Seccion de busqueda de catalogos -->

<app-filtrar-seccion></app-filtrar-seccion>

<hr class="mt-4 mb-4">

<!-- Tabla que muestra los catalogos -->

<app-tabla-seccion></app-tabla-seccion> 
